.wrapper {
  height: 80px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  columns: 2;
  align-items: center;
  background-color: rgb(229, 250, 225);
}

.logo {
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: black 2px solid;
  padding: 10px;
  margin: 0 30px;
}

.menu {
  width: auto;
  float: right;
}
