.nav {
  text-decoration: none;
  padding: 0.5rem;
  margin: 0 0.5rem;
  color: #666;
}

.nav:hover {
  color: #222;
}

.button {
  background-color: #090;
  border-radius: 0.25rem;
  color: white;
}
.button:hover {
  color: white;
  background-color: #070;
}
